<%= render 'shared/user', user: @user%>
<div class='user-bio'><%=@user.bio%></div>
<ul class='user-card-post-ul'>
<% if @user.top_3_posts.empty? %>
  <p class='post-card-no-click'>No posts</p>
<% else %>
<%@user.top_3_posts.each do |post|%>
<li>
  <%=render 'shared/post', post: post%>
</li>
<%end%>
<%end%>
</ul>
<div class='see-all-post-btn-container'><%= link_to "See all posts", user_posts_path(@user), class: 'see-all-post-btn' %></div> 
