<div>
<%= image_tag user.photo, alt: "#{user.name} profile image", class: 'profile'%>
<% link_to user, class: 'user-card-body' do %>
    <h2><%=user.name%></h2>
    <div class="user-post-count">Number of posts: <%user.post_counter%></div>
    <%end%>
</div>