<%= render 'shared/user', user: @user %>
<ul>
<% if @posts.empty? %>
<p class= 'exist-no-post'> There are exits no posts!</p>
<% else %>
<% @posts.each do |post| %>
    <li>
    <%= render 'shared/post', post: post %>
    <%= render 'shared/comment', comments: post.top_5_comment %>
    </li>
<%end%>
<%end%>
</ul>