<%= render 'shared/user', user: @user%>
<ul>
<% if @user.post.empty? %>
  <p class='post-card-no-click'>No posts</p>
<% else %>
<% @user.post.each do |post|%>
<li>
  <%= render 'shared/post', post: post%>
  <%= render 'shared/comment', comments: post.top_5_comment%>
</li>
<%end%>
<%end%>
</ul>
<div class='see-all-post-btn-container'><a class='see-all-post-btn'>Pagination</a></div>