.exist-no-post {
    color: red;
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  /* Styles for the post component */
  .post {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Styles for the comment component */
  .comment {
    background-color: #eaeaea;
    padding: 5px;
    margin-bottom: 5px;
  }
  