
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

header,
.header-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header {
  margin-bottom: 3%;
}

.notice {
  color: green;
  text-align: center;
}

.alert {
  color: red;
  text-align: center;
}

@media all and (min-width: 768px) {
  main {
    width: 1100px;
  }
}

.user-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.profile {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.user-card-body {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border: 1px solid black;
}

.user-card-body:hover {
  background-color: lightgreen;
}

.user-post-count {
  align-self: flex-end;
  margin-top: auto;
}

.user-bio {
  width: 100%;
  border: 1px solid black;
  padding: 2%;
}

.user-card-post-ul {
  margin-bottom: 3%;
}

.see-all-post-btn-container {
  display: flex;
  justify-content: center;
}

.post-btn-container {
  display: flex;
  justify-content: end;
  margin-bottom: 3%;
}

.see-all-post-btn,
.common-btn {
  background-color: lightgreen;
}

.common-btn:hover {
  background-color: green;
}

.red-bth {
  background-color: red;
}

.user-wel {
  text-align: center;
}

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border: 1px solid black;
  word-wrap: break-word;
  gap: 1rem;
  padding: 2%;
}

.post-card:hover {
  background-color: rgb(62, 25, 142);
}

.post-card-no-click {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border: 1px solid black;
  word-wrap: break-word;
  gap: 1rem;
  padding: 2%;
}

.post-card-count {
  align-self: flex-end;
  margin-top: auto;
}

.post-card-title {
  display: flex;
  align-items: center;
}

.post-card-count-top {
  margin-left: auto;
}

.rigth-btn {
  float: right;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.post-text-field {
  width: 25rem;
}

.post-text-area {
  width: 25rem;
  height: 12rem;
}

.comment-card {
  width: 100%;
  border: 1px solid black;
  padding: 2%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3%;
}

.comment-field {
  width: 15rem;
  height: 2rem;
}

.devise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.devise-container a {
  padding: 1px 2px;
  border: 2px solid black;
  box-shadow: 4px 4px 4px black;
  margin-bottom: 4px;
}

.devise-container h2 {
  margin-bottom: 3%;
}

.devise-form,
.new_user {
  width: 70%;
}

.device-width {
  width: 100%;
  margin: 1rem 0;
}

.in-field {
  padding: 1% 0;
}

/* Devise */
h2.log-in {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 10px 0;
}

.actions input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btns {
  padding: 5px;
  background-color: #1b93d3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.confirmations {
  max-width: 100%;
  margin: 0 auto;
}

.field {
  margin-bottom: 15px;
}

.actions {
  text-align: center;
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.error-messages {
  color: red;
  margin-bottom: 10px;
}

.shared-links {
  text-align: center;
  margin-top: 15px;
}

.shared-links a {
  color: #007bff;
  text-decoration: none;
}

.shared-links a:hover {
  text-decoration: underline;
}

.comment-li {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.comment-li .button_to {
  margin-left: auto;
}
