
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

@media all and (min-width: 768px) {
  main {
    width: 1100px;
  }
}

.user-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.profile {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.user-card-body {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border: 1px solid black;
}

.user-card-body:hover {
  background-color: lightgreen;
}

.user-post-count {
  align-self: flex-end;
  margin-top: auto;
}

.user-bio {
  width: 100%;
  border: 1px solid black;
  padding: 2%;
}

.user-card-post-ul {
  margin-bottom: 3%;
}

.see-all-post-btn-container {
  display: flex;
  justify-content: center;
}

.see-all-post-btn {
  padding: 5px 10px;
  border: 2px solid black;
  box-shadow: 4px 4px 4px black;
}

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border: 1px solid black;
  word-wrap: break-word;
  gap: 1rem;
  padding: 2%;
}

.post-card:hover {
  background-color: rgb(62, 25, 142);
}

.post-card-no-click {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border: 1px solid black;
  word-wrap: break-word;
  gap: 1rem;
  padding: 2%;
}

.post-card-count {
  align-self: flex-end;
  margin-top: auto;
}

.post-card-title {
  display: flex;
  align-items: center;
}

.post-card-count-top {
  margin-left: auto;
}

.comment-card {
  width: 100%;
  border: 1px solid black;
  padding: 2%;
}